<html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h3>Create Movie </h3><br><br>

    <form action="/menu/addMovies/add/" method="POST">
        <label>Fill In</label> <br><br>
        <div>
            <label>Name Of Movie : </label><br>
            <input type="text" name="nameM" />
        </div>
        <div>
            <label>Language : </label><br>
            <input type="text" name="language" />
        </div>
        <div>
            <label>Genres : </label><br>
            <input type="text" onfocus="this.value=''" value="drama,comedy.." name="genres" />
            <br>
        </div>
        <br>
        <div>ِ
            <input class="inputSmall" type="submit" value="Create Movie">
        </div>

    </form>
04-7772222

</body>

</html>