<html>

<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h3>Welcome To Movies </h3><br><br>

    <form action="/authenticate" method="POST">
        <div>
            Sign In<br><br>

            <input  style="width:40%" type="text" onfocus="this.value=''" value="User Name" name="username" /><br><br>
            <input  style="width:40%" type="password" onfocus="this.value=''" value="Password" name="pwd" /><br> <br>
            <input class="inputSmall" type="submit" value=" Log In">

        </div>


    </form>


</body>

</html>