<html>

<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <span></span>
    <h3>   Menu Page </h3><br><br>
    <ul style="align-items: center;">
        <li><a href="/menu/searchMovies">Search Movies</a></li><br><br>
        <li><a href="/menu/addMovies">Create New Movie</a></li><br><br>
        <li><a href="/menu/editUsers">Edit Users</a></li><br><br>



    </ul>



</body>

</html>