<html>

<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h3>Movie Page </h3><br><br>

    <div>
        <a href="/menu/">Back To Menu</a>
    </div>
    <br>
    <div>
        <a href="/menu/searchMovies/search/">Back To Search</a>
    </div>
    <br>
    <div>
        <img  src="<%= mov?.image? mov.image: '' %>" align="left">
        <label class="topAlign">Name: <%= mov?.name? mov.name: '' %> </label>
        <br>
        <label class="topAlign">Language: <%= mov?.language? mov.language: 'Language of Movie' %></label>
        <br>
        <label class="topAlign">Genres: <%= mov?.genres? mov.genres: 'genres of Movie' %></label>


    </div>


</body>

</html>