<html>

<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h3>
        Search Movies
    </h3><br><br>


    <div>
        <a href="/menu/">Back To Menu</a>
    </div>

    <form style="width: 80%; align-items: center;" action="/menu/searchMovies/search/" method="POST">
        <label>Search Parameters</label> <br><br>
        <div>
            <label>Name Or Partial: </label><br>
            <input type="text" name="nameM" />
        </div>

        <div>
            <label>Language : </label><br>
            <select name="languageM">
                <option value="en">English</option>
                <option value="he">Hebrew</option>
                <option value="Span">Spanish</option>
                <option value="Jap">Japanese</option>
            </select>
        </div>


        <div>
            <label>Genre:</label><br>
            <select name="genreM">
                <option value="drama">Drama</option>
                <option value="crime">Crime</option>
                <option value="thriller">Thriller</option>
                <option value="romance">Romance</option>
                <option value="action">Action</option>
                <option value="music">Music</option>
                <option value="science">Science-Fiction</option>
                <option value="horror">Horror</option>

            </select>

        </div>

        <div>
            <input class="inputSmall" type="submit" value="Search">
        </div>

    </form>


</body>

</html>