<html>

<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h3>Welcome To Search </h3><br><br>

    <div>
        <table>
            <% movies.forEach(mov=>{%>
                <tr>
                    <td>
                        <img style="width: 40px; height: 40px;" src="<%= mov?.image? mov.image: '' %>">

                    </td>
                    <td>

                        <a class="linkBlack" href="/menu/searchMovies/search/<%= mov.id %>/">
                            <%= mov.name? mov.name: '' %>
                        </a>

                    </td>
                    <td>
                        <ul>
                            <% mov.genres.forEach(gen=>{ %>
                                <li>
                                    <%= gen %>
                                </li>
                                <% }) %>
                        </ul>
                    </td>
                <tr>

                    <% }) %>
        </table>
    </div>


</body>

</html>